<% provide(:title, @user.first_name) %>

<section>
  <h1><%= @user.full_name %></h1>
  <% if current_user?(@user) %>
    <%= link_to 'Edit information', edit_user_registration_path(@user) %>
  <% end %>
</section>
<% unless current_user?(@user) %>
  <%= render 'users/friend_form' %>
<% end %>
<section class="friends-stats">
  <a href="<%= friends_user_path(@user) %>">
    <strong class="friends-count">
      <%= pluralize(@user.friends.count, 'friend') %>
    </strong>
  </a>
</section>
<% if current_user?(@user) %>
  <section class="post-form">
    <%= render 'shared/post_form' %>
  </section>
<% end %>
<section>
  <h2><%= pluralize(@authored_posts.count, 'post') %></h2>
  <% if @authored_posts.any? %>
    <ul class="posts">
      <%= render @authored_posts %>
    </ul>
    <%= will_paginate @authored_posts %>
  <% end %>
</section>