<li id="post-<%= post.id %>">
  <div class="author">
    <%= gravatar_for(post.author, size: 80) %>
    <%= link_to post.author.full_name, post.author %>
  </div>
  <p class="timestamp"><%= format_date(post.created_at) %></p>
  <p class="content"><%= post.content %></p>
  <div class="post-stats">
    <p id="likes-count-<%= post.id %>">
      <%= link_to pluralize(post.reactions.count, 'like'), post_reactions_path(post) %>
    </p>
    <p id="comments-count-<%= post.id %>">
      <%= link_to pluralize(post.comments.count, 'comment'), post_path(post) %>
    </p>
  </div>
  <div class="actions">
    <%= render 'shared/like_or_unlike', post: post %>
    <%= render 'shared/comment_form',   post: post %> 
  </div>
  <% if post.comments.any? %>
    <ul class="comments">
      <%= render post.comments.take(3) %>
    </ul>
  <% end %>
</li>